<div class="flex flex-col justify-center">
  <p>successfull contribution</p>
  <p>you will recieve an email when all the contributions are in</p>
  <button hx-get="/home" hx-target="#main">get another one</button>
</div>
