<div class="container flex flex-col justify-center">
  <p class="text-center">successfull contribution</p>
  <p class="text-center">
    you will recieve a notification when all the contributions are in.
  </p>
  <button hx-get="/home" hx-target="#main">another!</button>
</div>
