<div class="container flex flex-col justify-center">
  <p class="text-center">something went wrong:</p>
  <p class="text-center">{{ .msg }}</p>
  <button hx-get="/home" hx-target="#main">please try again</button>
</div>
