<div class="flex flex-col justify-center">
    <p>successfull creation</p>
    <p>others can now start contributing</p>
    <p>you will recieve an email when all the contributions are in</p>
    <button hx-get="/newce" hx-target="#main">create another!</button>
    <button hx-get="/home" hx-target="#main">contribute!</button>
</div>
  