<div class="">
<div class="container flex flex-row justify-center text-neutral-400 fixed bottom-0 mb-1">
    <p class="mr-2">made by <a class="hover:drop-shadow-[0_0px_2px_rgba(235,235,235,0.5)] transition ease-in-out duration-500" href="https://www.linkedin.com/in/franciscoalvarezraineri/" target="_blank">FAR</a></p>
    <p class="mr-2">|</p>
    <p>copyright 2023<p>
</div>
</div>