{{define "head"}}
<head>
    <title>cadavre exquis</title>
    <script src="/public/htmx.min.js"></script>
    <link href="/public/index.css" type="text/css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
{{end}}