<!DOCTYPE html>
<html>
  {{template "head.gohtml" .}}
  <body class="bg-neutral-800 text-neutral-200">
    {{template "menu.gohtml" . }}
    <main id="main" class="mx-auto">
      {{if (eq .Main "ce.gohtml")}}
        {{template "ce.gohtml" .}}
      {{else if (eq .Main "contribution_success.gohtml")}}
        {{template "contribution_success.gohtml" .}}
      {{else if (eq .Main "error.gohtml")}}
        {{template "error.gohtml" .}}
      {{else if (eq .Main "home.gohtml")}}
        {{template "home.gohtml" .}}
      {{else if (eq .Main "newce.gohtml")}}
        {{template "newce.gohtml" .}}
      {{else if (eq .Main "signin.gohtml")}}
        {{template "signin.gohtml" .}}
      {{else if (eq .Main "signup.gohtml")}}
        {{template "signup.gohtml" .}}
      {{else if (eq .Main "user.gohtml")}}
        {{template "user.gohtml" .}}
      {{- end}}
    </main>
    {{template "footer.gohtml" .}}
    <script defer>
      document.body.addEventListener("htmx:beforeSwap", function (evt) {
        if (evt.detail.xhr.status === 401) {
          evt.detail.shouldSwap = true;
        }
        if (evt.detail.xhr.status === 404) {
          evt.detail.shouldSwap = true;
        }
      });
    </script>
  </body>
</html>
