<!DOCTYPE html>
<html>
  {{template "head.gohtml" .}}
  <body class="bg-neutral-800 text-neutral-200">
    {{template "header.gohtml" .}}
    <main id="main" class="max-w-screen-sm mx-auto">
      {{if (eq .main "newce")}}
        {{template "newce.gohtml" .}}
      {{else if (eq .main "user")}}
        {{template "user.gohtml" .}}
      {{else if (eq .main "home")}}
        {{template "home.gohtml" .}}
      {{else if (eq .main "signin")}}
        {{template "signin.gohtml" .}}
      {{else if (eq .main "ce")}}
        {{template "ce.gohtml" .}}
      {{else if (eq .main "error")}}
        {{template "error.gohtml" .}}
      {{- end}}
    </main>
    {{template "footer.gohtml" .}}
    <script>
      document.body.addEventListener("htmx:beforeSwap", function (evt) {
        if (evt.detail.xhr.status === 401) {
          evt.detail.shouldSwap = true;
        }
        if (evt.detail.xhr.status === 404) {
          evt.detail.shouldSwap = true;
        }
      });
    </script>
  </body>
</html>
