<div class="container flex flex-col items-center justify-center" id="content">
  <div id="reveal">
    <p>... {{ .reveal }}</p>
  </div>
  <div>
    <form
      hx-post="/ces/{{ .id }}"
      class="container flex flex-col justify-center"
    >
      <input
        type="text"
        name="text"
        autocomplete="off"
        class="appearance-none bg-transparent border-none w-full text-neutral-400 mr-3 py-1 px-2 leading-tight focus:outline-none"
      />
      <button type="submit">submit</button>
    </form>
  </div>
  <button hx-get="/home" hx-target="#main">change</button>
</div>
