<!DOCTYPE html>
<html>
<body>
    <h3>hi {{.Name}}!</h3>
    <p>all the contributions for "{{.Title}}" are in</p>
    <a href="https://cadavre-exquis.onrender.com/ces/{{.ID}}" target="_blank">come read the result</a>
</body>
</html>