<!DOCTYPE html>
<html>
<body>
  <h3>hi {{.Name}}!</h3>
  <p>please, cofirm your email address so we can keep in touch and send you the results of your contributions:</p>
  <a href="http://0.0.0.0:8080/users/{{.UID}}/confirm/{{.Code}}" taget="_blank">confirm</a>
  <p>we are not sharing it with anybody.</p>
</body>
</html>