<div class="flex flex-col justify-center">
  <h3 class="my-3 text-lg text-center">{{ .title }}</h3>
  <ul class="ces-list">
    {{range .texts}}
    <li class="mb-1">{{.}}</li>
    {{end}}
  </ul>
</div>