<div class="flex flex-col justify-center">
  <h3 class="my-3 text-2xl text-center">{{ .Data.title }}</h3>
  <ul class="ces-list">
    {{range .Data.texts}}
    <li class="mb-1">{{.}}</li>
    {{end}}
  </ul>
</div>